body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 128, 0, 0.589),
      rgba(0, 0, 0, 0.589)
    ),
    url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/123/014/original/erda-estremera-0ZxdAGG4aWU-unsplash.jpg?1713015972);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 80%;
  cursor: pointer;
  color: #fff;
}
ul {
  list-style: none;
}
.nav-link {
  display: flex;
  justify-content: center;
}
li {
  padding: 1rem;
  font-size: 0.8rem;
}

a {
  position: relative;
  padding: 0 10px;
}
a:hover {
  color: white;
}

a::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  object-fit: cover;
  cursor: pointer;
}

.hamburger {
  display: none;
}

.contact-card {
  width: 10rem;
  height: 13rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.137);
  margin: 1rem;
  display: none;
  cursor: pointer;
  color: #fff;
}

.contact-card-space {
  padding: 1rem;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero {
  max-width: 60%;
  margin: 1rem;
  text-transform: capitalize;
  position: absolute;
  line-height: 1;
  color: #fff;
  margin-top: 4rem;
  margin-left: 2rem;
  text-shadow: 0 5px 10px #0004;
  animation: fadeIn 3s;
}
.hero-text {
  line-height: 1.5;
}

h1 {
  font-size: 6rem;
  font-weight: lighter;
}
.h1-span {
  font-weight: bold;
}

.button-element {
  margin-top: 3rem;
}
.get-started-button {
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  color: black;
  border: none;
  font-weight: 500;
}

.button-link {
  background-color: transparent;
  border: 1px solid#fff;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  margin-left: 1rem;
}
a {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}
.small-card {
  border: 1px solid white;
  width: 10rem;
  padding: 1rem;
  position: absolute;
  top: 160px;
  right: 50px;
  color: #fff;
}
.wide-card {
  right: 100px;
  bottom: 40px;
  position: absolute;
  width: 20rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.137);
  color: #fff;
}

.wide-card-container {
  margin: 1rem;
}

.wide-card-icons {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  font-size: 20px;
}

article {
  background-color: rgb(240, 241, 233);
}

.article__contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-button {
  padding: 8px 30px;
  background-color: rgb(24, 41, 24);
  color: #fff;
  border: none;
  margin: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

.article-button:hover {
  background-color: rgb(42, 77, 42);
}

.article-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.article-text {
  max-width: 400px;
  color: rgb(102, 110, 102);
  padding: 2rem;
}

.article-content {
  margin-top: 2rem;
}

.animate__animated {
  padding: 2rem;
  font-size: 3rem;
  width: 500px;
  color: rgb(53, 69, 52);
}

.h2-span {
  color: rgb(161, 167, 161);
  font-weight: 300;
}

.container {
  margin: 3rem;
}

.container-h2 {
  font-size: 3rem;
  text-align: center;
  color: green;
}

.section-image {
  width: 100%;
  min-width: 80px;
  cursor: pointer;
  transition: 0.2s;
}
.grid {
  display: grid;
  margin-top: 50px;
}

.grid-1x2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.grid-1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.section-content-image {
  margin-top: 25px;
}
.section-content {
  letter-spacing: 1.5;
  margin-bottom: 50px;
}

.section-content h3 {
  color: rgba(0, 128, 0, 0.61);
  font-weight: 600;
  font-size: 25px;
}

.section-content p {
  font-size: 18px;
  font-weight: 300;
  color: rgb(128, 128, 128);
}

.explore-menu {
  max-width: 60%;
  columns: #808080;
}
.explore-menu h2 {
  font-weight: 500;
  font-size: 2rem;
  color: green;
}

.explore-menu p {
  color: rgb(128, 128, 128);
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  overflow-x: scroll;
  margin: 20px 0;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list img {
  width: 80%;
  margin: 10px;
  min-width: 80px;
  cursor: pointer;
  transition: 0.2s;
}

.explore-img {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.color-1 {
  background-color: rgb(83, 153, 187);
}

.color-2 {
  background-color: rgb(224, 201, 191);
}

.color-3 {
  background-color: rgb(220, 88, 49);
}

.color-4 {
  background-color: rgb(228, 228, 238);
}

.color-5 {
  background-color: rgb(188, 195, 201);
}
.color-6 {
  background-color: rgb(122, 131, 140);
}
.block-text {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 5px;
  right: 50px;
}

@media (max-width: 960px) {
  header {
    height: 130vh;
  }

  nav {
    display: none;
  }

  .hamburger {
    margin: 0;
    padding: 2rem;
  }

  .hamburger {
    display: block;
  }
  .collapsible-expander {
    display: block;
  }

  .small-card,
  .wide-card {
    display: none;
  }
  .hero {
    max-width: 100%;
    text-align: center;
    margin-top: 10rem;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: lighter;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 25px;
  }

  .section-content {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
  }

  .grid-1x2 {
    grid-template-columns: 1fr;
  }

  .grid-1x3 {
    grid-template-columns: 1fr;
  }

  .article__contents {
    flex-direction: column;
    justify-content: center;
  }

  .animate__animated {
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
  }

  .article-button {
    padding: 8px 15px;
  }

  .container {
    display: block;
    margin: 0 auto;
    width: 50%;
  }

  .explore-menu-list {
    margin-top: 2rem;
    flex-direction: column;
    gap: 25px;
  }

  .explore-menu {
    max-width: 100%;
  }
}

@media (max-width: 454px) {
  .hero {
    margin-top: 5rem;
  }
}

@media (max-width: 375px) {
  .hero {
    margin-top: 3rem;
  }
}
